#rfp-pagination .page-numbers {
    list-style: none;
    margin-left: 0;
    padding-left: 5px;
}

#rfp-pagination .page-numbers li {
    display: inline-block;
    margin: 0;
    margin-right: 13px;
}

#rfp-pagination .page-numbers li:last-child {
    margin-right: 0;
}

#rft-search-results {
    padding-left: 0;
    margin-left: 20px;
    list-style: disc;
}

#rft-search-results li .rft-item-date::after {
    content: ' \2576';
    margin-right: 10px;
}

.rfp-sorting-form select {
    margin-bottom: 10px;
    font-family: inherit;
}

.rfp-show-modal .rfp-pg-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50000;
    background-color: #000;
    opacity: .5;
}

.rfp-show-modal .rfp-modal {
    display: block;
}
.admin-bar .rfp-modal {
    top: 20px;
}

.rfp-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 55000;
    display: none;
}

.rfp-modal-dialog {
    position: relative;
    width: auto;
    max-width: 900px;
    margin: 1.75rem auto;
    font-family: inherit;
}

.rfp-modal-content {
    background: #fff;
    padding: 25px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.admin-bar .rfp-x-out {
    top: 15px;
}

.rfp-x-out {
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 15px;
}

.rfp-x-out span {
    cursor: pointer;
}

#rfp-sort-title {
    margin: 0;
    margin-bottom: 10px;
}

.rfp-loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #8e8b8b;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.rssfp-items-wrapper a,
.hentry .entry-content .rssfp-items-wrapper a {
    text-decoration: none;
}

.rssfp-items-wrapper ul>li>a:before {
    content: ' \2576';
    margin-right: 10px;
}

.rssfp-items-wrapper .rsspaging .rsspaging_prev:after {
    content: ' \007C';
    margin-left: 2px;
    margin-right: 4px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}